doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/fonts.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/fontello.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/jquery.countdown.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/jquery.validationengine.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/flexslider.css')
  body
    .app.app-red
      block content
    script(type='text/javascript', src='/build/viewer.bundle.js')
    script(type='text/javascript', src='/javascripts/jquery-3.2.0.min.js')
    script(type='text/javascript', src='/javascripts/jquery.ui.map.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/jquery.flexslider-min.js')
    script(type='text/javascript', src='/javascripts/jquery.carousel.js')
    script(type='text/javascript', src='/javascripts/jquery.scrollTo-1.4.3.1-min.js')
    script(type='text/javascript', src='/javascripts/jquery.parallax-1.1.3.js')
    script(type='text/javascript', src='/javascripts/jquery.localscroll-1.2.7-min.js')
    script(type='text/javascript', src='/javascripts/jquery.nav.js')
    script(type='text/javascript', src='/javascripts/jquery.countdown.min.js')
    script(type='text/javascript', src='/javascripts/jquery.validationengine-en.min.js')
    script(type='text/javascript', src='/javascripts/jquery.validationengine.min.js')
    script(type='text/javascript', src='/javascripts/tweetie.min.js')
    script(type='text/javascript', src='/javascripts/custom.js')