.flag-icon-ph.flag-icon-squared
{
    background-image: url(images/ph.svg);
}
section.loading-animation
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section.loading-animation > div
{
    margin: 0;
    width: 210px;
}
section.loading-animation > div > div
{
    background-color: #35b88f;
    height: 50px;
    width: 50px;
}
.navbar .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu > ul > li input
{
    background: transparent;
    border: transparent;
    font-size: 1.1em;
    font-weight: 400;
    padding: 1.2rem;
    text-align: left;
    width: 100%;
}.navbar .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu > ul > li input:hover
{
    background-color: rgba(141, 146, 147, 0.1);
}
body .app-container > div > div.row
{
    padding-left: 30px;
    padding-right: 30px;
}
body .app-container > div > div.row > [class*="col-"]
{
    margin-bottom: 30px;
}
.select2
{
    width: 100% !important;
}
.spicy-datatable
{
    font-size: 1.2rem !important;
}
.spicy-datatableoptions-sizepicker,
.spicy-datatableoptions-search
{
    padding: 10px;
}
.spicy-datatable-counter
{
    font-size: 14px !important;
}
.spicy-datatable-pagination-list
{
    padding: 15px !important;
}
.spicy-datatable-pagination-list .spicy-datatable-pagination-button
{
    margin: 5px;
}
.spicy-datatable-pagination-list .spicy-datatable-pagination-button:hover
{
    background: #5fc77f !important;
}
.spicy-datatable-pagination-list .spicy-datatable-pagination-button.active
{
    background: #29c75f !important;
}