section.loading-animation
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section.loading-animation > div
{
    margin: 0;
}
section.loading-animation > div > div
{
    background-color: #ef5227;
    height: 110px;
    width: 110px;
}
.wrapper.style1,
.wrapper.style1 .title
{
    background: #ef8355 url("images/overlay.png");
}