section.loading-animation
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section.loading-animation > div
{
    margin: 0;
}
section.loading-animation > div > div
{
    background-color: #ef5227;
    height: 110px;
    width: 110px;
}
#header-wrapper
{
    background: url("../images/header.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrapper.style1,
.wrapper.style1 .title
{
    background: #ef8355 url("images/overlay.png");
}
#logo p
{
    color: #ffffff;
    text-transform: none;
}
div#user-details-body
{
    border: 5px solid #ffffff;
    border-radius: 21px;
    padding: 50px;
    text-align: left;
}
div#user-details-body .select2-container
{
    width: 100% !important;
}
div#user-details-body .select2-container--default .select2-selection--multiple .select2-selection__choice
{
    background-color: #555555;
}
div#user-details-body ul.actions
{
    text-align: center;
}
@media screen and (min-width: 737px)
{
    #logo p
    {
        font-size: 1.6em;
    }
    #intro > div#user-details-body > div > div > p
    {
        font-size: 1em;
        letter-spacing: 0.075em;
        margin-bottom: 10px;
    }
    div#user-details-body hr
    {
        margin: 0.5em 0;
    }
}
