section.loading-animation
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section.loading-animation > div
{
    margin: 0;
}
section.loading-animation > div > div
{
    background-color: #ef5227;
    height: 110px;
    width: 110px;
}
#header-wrapper
{
    background: url("../images/header.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrapper.style1,
.wrapper.style1 .title
{
    background: #ef8355 url("images/overlay.png");
}
#logo p
{
    text-transform: none;
}